[submodule "guttersynth-sc"]
	path = guttersynth-sc
	url = https://github.com/madskjeldgaard/guttersynth-sc
[submodule "supercollider"]
	path = supercollider
	url = https://github.com/supercollider/supercollider
[submodule "supercollider-safety-limiter"]
	path = supercollider-safety-limiter
	url = https://github.com/nhthn/supercollider-safety-limiter
[submodule "portedplugins"]
	path = portedplugins
	url = https://github.com/madskjeldgaard/portedplugins
[submodule "squinewave"]
	path = squinewave
	url = https://github.com/required-field/squinewave
[submodule "XPlayBuf"]
	path = XPlayBuf
	url = https://github.com/elgiano/XPlayBuf
[submodule "mi-UGens"]
	path = mi-UGens
	url = https://github.com/v7b1/mi-UGens
